@import "../../sass/variables";
@import "../../sass/mixins";

.hero {
	height: 680px;

	@include media-phone {
		height: 480px;
	}

	.swiper-pagination-bullet {
		background: $color-white;
		opacity: 1;
		height: $unit-s;
		width: $unit-s;

		@include media-phone {
			height: $unit-xs;
			width: $unit-xs;
		}
	}

	.swiper-pagination-bullet-active {
		background: $bg-color-dark-red;
		border: 1px solid $color-white;
		width: $unit-s;
		height: $unit-s;

		@include media-phone {
			width: $unit-xs;
			height: $unit-xs;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: $color-white;
		border: 3px solid $color-white;
		padding: $unit-m;
		border-radius: 50%;

		@include media-phone {
			padding: $unit-s;
		}

		&::after {
			font-size: $font-size-m;

			@include media-phone {
				font-size: $font-size-xs;
			}
		}
	}

	.swiper-button-prev {
		left: 40%;
		top: 95%;
		margin-left: 10px;

		@include media-laptop {
			left: 35%;
		}

		@include media-tablet {
			left: 30%;
		}

		@include media-phone {
			left: 25%;
			top: 94%;
		}
	}

	.swiper-button-next {
		right: 40%;
		top: 95%;

		@include media-laptop {
			right: 35%;
		}

		@include media-tablet {
			right: 30%;
		}

		@include media-phone {
			right: 25%;
			top: 94%;
		}
	}
}

.hero__content {
	padding: $unit-xxl;
	height: 100%;
	overflow: hidden;

	@include media-phone {
		padding-left: 0;
	}

	.hero__text {
		max-width: 1320px;
		margin: 0 auto;
	}
}

.hero__content--one {
	@include bg-img("../assets/images/hero-img.jpg");
}

.hero__content--two {
	@include bg-img("../assets/images/hero-img2.jpg");
}

.hero__content--three {
	@include bg-img("../assets/images/hero-img3.jpg");
}

.hero__content--four {
	@include bg-img("../assets/images/hero-img4.jpg");
}

.hero__wrap {
	width: 40ch;
	padding: $unit-xl;
	padding-left: 0;
	background-color: rgba($color-black, 0.5);
	position: relative;

	@include media-phone {
		padding: $unit-m;
	}

	&::before {
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		width: 100%;
		background-color: inherit;
		height: 100%;

		@include media-phone {
			display: none;
		}
	}

	.hero__title {
		margin-bottom: $unit-s;

		@include media-small-phone {
			font-size: $font-size-l;
		}
	}

	.hero__description {
		@include media-small-phone {
			font-size: $font-size-s;
		}
	}
}
