@import "../../sass/variables";
@import "../../sass/mixins";

.recommendation {
	text-align: center;

	.recommendation__subtitle {
		color: $color-gray;
		font-weight: $font-weight-l;
		line-height: $line-height-s;
		font-size: 18px;
		margin-bottom: $unit-l;
	}

	.recommendation__title {
		margin-bottom: $unit-xl;

		@include media-phone {
			margin-bottom: 0;
		}
	}

	.recommendation__btn {
		@include btn;
		margin-bottom: $unit-xl;

		@include media-tablet {
			margin-top: $unit-l;
		}
	}
}

.recommendation__slider {
	padding: $unit-xxl 0;

	.recommendation__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border: 1px solid #000000;
		background: rgba(255, 255, 255, 0.1);
		position: relative;
		opacity: 0.3;
		padding: $unit-l;
		transition: transform 0.25s ease-in;

		@include media-laptop {
			padding: $unit-s;
		}

		@include media-tablet {
			padding: $unit-xl;
		}

		@include media-phone {
			padding: $unit-lm;
		}

		&.swiper-slide-active {
			opacity: 1;
			transform: scale(1.2);

			.slide__quotes,
			.slide__job {
				display: block;
			}

			.slide__img {
				visibility: visible;
			}
		}
	}

	.slide__img {
		visibility: hidden;

		.icon__circle {
			height: 80px;
			width: 80px;
			margin-bottom: $unit-s;
		}

		.icon__star {
			display: block;
			height: 30px;
			width: 92px;
			margin-bottom: $unit-m;
		}
	}

	.slide__quotes {
		display: none;
		position: absolute;
		bottom: -$unit-s;
		right: $unit-s;

		@include media-tablet {
			bottom: -$unit-m;
			right: $unit-xxl;
		}

		@include media-phone {
			right: $unit-xl;
		}

		@include media-small-phone {
			right: $unit-l;
		}
	}

	.slide__description {
		padding: 0 $unit-xs;
		margin-bottom: $unit-l;
	}

	.slide__job {
		display: none;
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: $color-white;
		border: 3px solid $color-white;
		padding: $unit-m;
		border-radius: 50%;
		background-color: $color-black;
		box-shadow: 0 0 0 5px $color-black;
		&::after {
			font-size: $font-size-s;
		}
	}

	.swiper-button-prev {
		left: 28%;

		@include media-tablet {
			left: 30%;
			top: 94%;
		}

		@include media-small-phone {
			left: 25%;
		}
	}

	.swiper-button-next {
		right: 28%;

		@include media-tablet {
			right: 30%;
			top: 94%;
		}
		@include media-small-phone {
			right: 25%;
		}
	}
}
