@import "../../sass/variables";
@import "../../sass/mixins";
.reservation {
	background-color: $bg-color-dark-red;

	.wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@include media-tablet {
			justify-content: center;
			flex-wrap: wrap;
			padding: 0;
		}
	}
}

.reservation__content {
	flex: 0 0 50%;
	padding: 0 $unit-xxl;

	@include media-laptop {
		padding: 0 $unit-l;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	@include media-tablet {
		flex: 0 0 100%;
		padding: $padding-section-xl;
	}

	@include media-phone {
		padding: $unit-l 0;
	}

	.reservation__title {
		margin-bottom: $unit-l;
	}

	.reservation__list {
		margin-bottom: $unit-lm;
		margin-left: $unit-m;
		list-style: disc;
		display: inline-block;

		.reservation__item {
			width: fit-content;
			&:not(:last-of-type) {
				margin-bottom: $unit-xs;
			}
		}
	}
	.reservation__btn {
		@include btn;
	}
}

.reservation__img {
	@include bg-img("../assets/images/reservation-img.jpg");
	width: 100%;
	height: 55vh;
	min-width: 50vw;
	min-height: 680px;

	@include media-laptop {
		min-height: 490px;
	}

	@include media-tablet {
		min-height: 290px;
	}
}
