@import "../../sass/variables";
@import "../../sass/mixins";
.footer {
	background-color: $bg-color-red;
	padding: $unit-m 0;

	.footer__container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media-phone {
			flex-wrap: wrap;
			flex-direction: column;
		}

		.footer__contact {
			flex: 0 0 40%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: $unit-xs;
			font-weight: $font-weight-m;
			font-size: $font-size-s;
			line-height: $line-height-m;

			@include media-phone {
				flex: 0 0 100%;
				text-align: center;
				margin-bottom: $unit-xl;
			}

			.footer__address {
				margin-bottom: $unit-xs;
			}
		}
	}
}

.footer__logo {
	flex: 0 0 10%;

	@include media-phone {
		flex: 0 0 100%;
		margin-bottom: $unit-xl;
		transform: scale(2);
	}
}

.footer__socials {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: $unit-s;
	flex: 0 0 40%;

	@include media-phone {
		flex-wrap: wrap;
		flex-direction: column;
		flex: 0 0 100%;
	}

	.footer__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: $unit-xs;

		@include media-phone {
			flex-wrap: wrap;
		}

		.footer__socials--title {
			@include media-phone {
				flex: 0 0 100%;
				margin-bottom: $unit-m;
			}
		}
	}
}
